.save-page {
    min-height: 95vh;
    background-color: #14181C;
}

.savePage-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

.savePage-content .savePage-section {
    width: 85vw;
    min-height: 95vh;
}

.savePage-section .saveDisplay-information {
    width: inherit;
    height: 80px;
    display: none;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.saveDisplay-information p {
    color: #9CA3AF;
}

.saveDisplay-information .findMovie-button {
    color: #9CA3AF;
    cursor: pointer;
}

.saveDisplay-information .findMovie-button i {
    color: #9CA3AF;
}

.saveDisplay-information {
    .findMovie-button {
        &:hover {
            color: #FFFFFF;

            i {
                color: #FFFFFF;
            }
        }
    }
}

.savePage-section .UrutanSimpanGrup {
    display: none;
    margin: 40px 0 0 50px;
}

.savePage-section .btnUrutanSimpan {
    background-color: transparent !important;
    border: transparent;
}

.savePage-section .UrutanSimpan {
    background-color: #121212;
}

.savePage-section .UrutanSimpan button {
    border: 1px solid #222121;
    color: #FFFFFF;
}

.savePage-section .UrutanSimpan button:hover {
    background-color: #C7D2FE;
    color: #000000;
}

.container-saveFilm {
    background-color: #14181c;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 40px 20px 20px;
    margin: 0 auto;
    position: relative;
    place-items: center;
    justify-content: center;
    align-items: center;


    @media (max-width: 1380px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (max-width: 1180px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 980px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 780px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 580px) {
        grid-template-columns: repeat(2, 1fr);
    }
}